* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper {
  direction: ltr;
  padding-top: 100px !important;

  @media screen and (max-width: 768px) and (max-height: 600px) {
    padding: 7px 0 90px 0px !important;
  }

  @media screen and (max-height: 668px) {
    padding: 10px 0 10px 0px !important;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slide-image {
  width: auto;
  max-width: 225px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.animated-slide-image {
  position: fixed;
  left: calc(50% - 57px);
  top: 42px;
  z-index: 10;
}

.strap-image {
  position: absolute;
  left: calc(50% - 200px);
  top: 111px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @media screen and (max-width: 768px) and (max-height: 680px) {
    top: -60px;
  }
}

.size-swiper-wrap {
  padding: 100px 0 50px 0 !important;

  @media screen and (max-width: 768px) and (max-height: 600px) {
    padding: 7px 0 10px 0px !important;
  }
  @media screen and (max-height: 668px) {
    padding: 10px 0 10px 0px !important;
  }
}

.case-image {
  position: absolute;
  z-index: 10;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.normal {
  left: calc(50% - 112.5px) !important;
  top: 189px !important;

  @media screen and (max-width: 768px) and (max-height: 680px) {
    left: calc(50% - 112.5px) !important;
    top: 99px !important;
  }
}

.ultra {
  left: calc(50% - 116px);
  top: 186.5px;

  @media screen and (max-width: 768px) and (max-height: 680px) {
    left: calc(50% - 117px);
    top: 96px;
  }
}

.swiper-case {
  padding: 200px 0 91px 0px !important;

  @media screen and (max-width: 768px) and (max-height: 680px) {
    padding: 30px 0 90px 0px !important;
  }
}

.strape-slide-image {
  width: auto;
  max-width: 400px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.right-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  white-space: nowrap;
}

.se {
  margin-inline: 10px;
  cursor: pointer;
  border: none;
}

.login-btn {
  display: inline-flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.x-icon {
  margin-block: 20px;
  margin-left: -10px;
  cursor: pointer;
}

.mobile-list {
  list-style: none;
}

.mobile-list li {
  margin-block: 10px;
  padding: 15px 0;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  width: 200px;
}

.mobile-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #6e6e6e;
}

.mobile-list .mob-login-btn {
  padding-block: 25px;
  margin-top: 50px;
}

.watch-0,
.watch-1,
.watch-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-0 img {
  height: 280px;
}

.watch-1 img {
  height: 300px;
}

.watch-2 img {
  height: 320px;
}

.swiper-btns-wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow-x: auto;
}

.swiper-button-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.btn-wrap {
  border: 20px;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.52);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-block: 7.5px;
  padding-inline: 15px;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: #fff;
  gap: 10px;
}

.btn-wrap button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
}

.btn-complete {
  background: rgba(0, 0, 0, 0.7) !important;
  display: flex;
  align-items: center;
}

.color-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.swiper-button-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  transition: 0.3s ease-in-out;
}

.swiper-button-container .color-wrap ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.swiper-button-container .color-wrap ul li p {
  color: #ffff;
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
}

.watch-det {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.watch-det .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.watch-det .price {
  font-size: 1rem;
  margin-block: 10px;
}

.watch-det .price span {
  color: red;
}

.size-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px;
  transition: 0.35s ease-in-out;
}

.size-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.size-det {
  margin-top: 50px;
  margin-bottom: 10px;
}

.local-switch {
  border: none;
  background: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.local-switch:focus {
  outline: none;
}
